<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../style/style.css"/>
        <link rel = "stylesheet" href = "../style/responsive.css"/>
        <link rel = "stylesheet" href = "../style/destinations.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>

    <body>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-12" id = "socials-menu">
                    <div class = "row">
                        <div class = "col-lg-1 col-md-1 col-sm-1">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class = "col-lg-1 col-md-1 col-sm-1">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                    <div  id = "desktop-nav-menu">
                        <div class = "row">
                            <div class = "col-md-4">
                                <li> LOGO </li>
                            </div>
                            <div class = "col-md-8">
                                <ul>
                                    <li> <a href = "../index.html"> ПОЧЕТНА </a> </li>
                                    <li> <a class = "active" href = "#"> ДЕСТИНАЦИИ </a> </li>
                                    <li> <a href = "#"> КОНТАКТ </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id = "mobile-nav-menu">
                        <li> LOGO </li>
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
            <ul class = "mobile-dropdown">
                    <li>Почетна</li>
                    <li>Дестинации</li>
                    <li>Контакт</li>
            </ul>

            <div class = "row">
                <div class = "col-12">
                    <div class = "destination-heading" id = "myHeader"> 
                        <h2> Амстердам </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class = "container">
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "col-md-9">
                        <div class = "section-background">
                            <img class = "description-map" src = "../images/amsterdam/amsterdam.jpg"/>
                            <p class = "description-text"> &nbsp; &nbsp; &nbsp;  Градот кој своето име го добил според реката Амстел, лежи на повеќе од 150
                                канали кои се поврзани со околу 1300 мостови, па поради тоа многу луѓе често го споредуваат и со Венеција. Поради таа причина,
                                најдобро е Амстердам да се разгледа со некој од туристичките бродови, кои ќе ве прошетат низ трите главни канали Herengracht,
                                Keizersqracht и Prinsengracht. 
                            </p> 
                            <p class = "second-part">&nbsp; &nbsp; &nbsp; Копнениот дел од градото најдобро е да се разгледа со пешачење или возење велосипед. Името на
                                главниот плоштад е <strong>Dam</strong>. На овој плоштад се наоѓа <strong>Кралската палата</strong>. Овде е и црквата за
                                крунисување на холандијската аристократија, <strong>Nieuwekerk</strong>, но и познатиот музеј на восочни фигури <strong>
                                    Maddame Tussauds.
                                </strong> Во целиот свет Амстердам е познат по својата толерантност, што ви дава додатно поттикнување да го посетите. Некои од познатите
                                музеи кои можете да ги псоетите во овој град се <strong>Van Gogh Museum, Museum het Rembrandthuis,</strong> куќата на <strong> Anna Frank,
                                    Heineken Experience, Музејот на дијамантите.. </strong>
                                    Овде ќе видете бројни паркови, од кои најпознат и најубав е <strong>Vondelpark</strong>, околу кој ќе најдете најдобар смештај во градот. Кога станува
                                    збор за исхраната, ви препорачуваме да ја пробате индонезијската храна која можете да ја најдете во <strong>Albert Cuypstraat</strong>
                                    или околу <strong>Damark</strong>. Како и секоја метропола, и овде можете да имате квалитетен шопинг во <strong> Nieuwedijk - Kalverstraat </strong>
                                или <strong> P.C Hoofstraat </strong>.
                                Ноќните излегувања се приказна за себе. Ви стојат на располагање повеќе од 1.500 клубови и барови, од кои најмногу се наоѓаат
                                во <strong>Leidseplein, Rembrandtplein </strong> и околу <strong>Joordan</strong>.
                                Познат фестивал е <strong> 'Queen's Day' </strong> кој се одржува при крајот на април, и тогаш целиот град е обоен во портокалова боја.
                            </p>
                        </div>
                        <div class="section-background">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="https://media.wired.com/photos/5aa2f3af0810d969021d9be4/master/pass/VaticanHackathon-HR9MMG-web.jpg" alt="Los Angeles" style="width:100%;">
                                    </div>
                                    <div class="item">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/St_Peter%27s_Square%2C_Vatican_City_-_April_2007.jpg" alt="Chicago" style="width:100%;">
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"><i class="fas fa-chevron-left"></i></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"><i class="fas fa-chevron-right"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class = "section-background">
                            <h3>Znamenitosti</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. The point of using Lorem Ipsum is that 
                                it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                content here', making it look like readable English. Many desktop publishing packages and web 
                                page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will 
                                uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                        <div class = "section-background">
                            <h3>Sto da posetite</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. The point of using Lorem Ipsum is that 
                                it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                content here', making it look like readable English. Many desktop publishing packages and web 
                                page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will 
                                uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                        <div class = "section-background">
                            <h3> Smestaj vo Amsterdam </h3>
                            <p>It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. The point of using Lorem Ipsum is that 
                                it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                content here', making it look like readable English. Many desktop publishing packages and web 
                                page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will 
                                uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                        <div class = "section-background">
                            <h3> Kako da stignete vo Amesterdam? </h3>
                            <p>It is a long established fact that a reader will be distracted by the readable 
                                content of a page when looking at its layout. The point of using Lorem Ipsum is that 
                                it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                                content here', making it look like readable English. Many desktop publishing packages and web 
                                page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will 
                                uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                    <div class = "col-md-3">
                        <div class = "sidebar section-background places-near">
                            <h5 class = "nearby"> Дестинации во близина на Ватикан </h5>
                            <ul>
                                <li> <i class="fas fa-map-marked-alt"></i> 166,96 km <span>Gent</span></li>
                                <li> <i class="fas fa-map-marked-alt"></i> 172,67 km <span>Brugge</span></li>
                                <li> <i class="fas fa-map-marked-alt"></i> 173,12 km <span>Bruxelles</span></li>
                                <li> <i class="fas fa-map-marked-alt"></i> 316,00 km <span>Trier</span></li>
                                <li> <i class="fas fa-map-marked-alt"></i> 318,69 km <span>Luxembourg</span></li>
                            </ul>
                        </div>
                        <div class = "sidebar section-background">
                            <h5 class = "currency"> Валута </h5>
                            <i class="fas fa-euro-sign"></i> <span> Евро </span>
                        </div>
                        <div class = "sidebar section-background">
                            <h5 class = "facts">  Факти за Ватикан </h5>
                            <ul>
                                <li>Населението на Ватикан пие повеќе вино од било кој народ во светот</li>
                                <li>Во Ватикан се наоѓа најкратката пруга на светот</li> 
                                <li>Поседуваат телескоп во Аризона</li>
                                <li>Ниту еден жител од населението не е роден во Ватикан - едноставно немаат болница</li>
                                <li>Папата има своја гарда</li>
                            </ul>
                        </div>
                        <div class = "sidebar section-background">
                            <h5 class = "note"> напомена </h5>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id </li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id </li>
                            </ul>
                        </div>
                        <div class = "sidebar section-background">
                            <h5 class = "attachment"> dodatok </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    <script>
        window.onscroll = function() {myFunction()};    
        function myFunction() {
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
                if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                } else {
                header.classList.remove("sticky");
                }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </body>
</html>