<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <link rel = "stylesheet" href = "style/style.css"/>
        <link rel = "stylesheet" href = "style/responsive.css"/>
        <link rel = "stylesheet" href = "style/destinations.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
{% endblock %}
<body>
{% block main %}
{% endblock %}
</body>
</html>