<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <link rel = "stylesheet" href = "{{ asset('style/style.css') }}"/>
        <link rel = "stylesheet" href = "{{ asset('style/responsive.css') }}"/>
        <link rel = "stylesheet" href = "{{ asset('style/destinations.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    </head>
{% endblock %}
<body>

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-12" id = "socials-menu">
            <div class = "row">
                <div class = "col-lg-1 col-md-1 col-sm-1">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class = "col-lg-1 col-md-1 col-sm-1">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <div  id = "desktop-nav-menu">
                <div class = "row">
                    <div class = "col-md-4">
                        <li> LOGO </li>
                    </div>
                    <div class = "col-md-8">
                        <ul>
                            <li> <a class = "active" href = "#"> ПОЧЕТНА </a> </li>
                            <li> <a href = "/destinations"> ДЕСТИНАЦИИ </a> </li>
                            <li> <a href = "#"> КОНТАКТ </a></li>
                            <li> <i class="fas fa-search"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id = "mobile-nav-menu">
                <li> LOGO </li>
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
    <ul class = "mobile-dropdown">
        <li>Почетна</li>
        <li>Дестинации</li>
        <li>Контакт</li>
    </ul>


{% block main %}
{% endblock %}
</body>
</html>